footer.main-footer
	.container
		a.logo(href="#index")
			img(src="images/logo.svg", alt="")
		nav
			ul
				li
					a(href="#description") Как мы работаем
				li
					a(href="#subjects") Тематики книг
				li
					a(href="#contacts") Контакты
		.phones
			a(href="tel:9193381") 919 33 81
			a(href="tel:+79218769979") +7 921 876 99 79
			p с 9:00 до 21:00 ежедневно
	.copyright
		.copyright__logo
			a(href="http://www.market-me.ru/" target="_blank")
				img(src="images/logo-mm.png", alt="")
		p ©  Разработано ООО «MarketMe» 2020
