header.main-header#index
	.container
		.logo
			img(src="images/logo.svg", alt="")
		nav
			ul
				li
					a(href="#description") Как мы работаем
				li
					a(href="#subjects") Тематики книг
				li
					a(href="#contacts") Контакты
		.phones
			a(href="tel:9193381") 919 33 81
			a(href="tel:+79218769979") +7 921 876 99 79
			p с 9:00 до 21:00 ежедневно
		.burger-wrapper
			.phone
				img(src="images/icons/phone.svg", alt="")
			.burger