.popup#popup-order
	.popup-wrapper
		.contacts__form
			.cross
			.title Оставьте заявку и мы свяжемся с вами в ближайшее время
			form(action="get")
				.inputs
					input(type="text" placeholder="Ваше имя*" required)
					input(type="text" placeholder="Ваш телефон*" required)
				.bottom
					p.politics Оставляя заявку, я соглашаюсь <i class="br"></i> с условиями <a href="politic.pdf" target="_blank">политики конфиденциальности</a>
					input.btn(type="submit" value="Оставить заявку")