.popup2#popup-order2
	.popup-wrapper
		.contacts__form
			.cross
			a.btn(href="tel:+79218769979") Позвонить
			a.btn(href="https://wa.me/79218769979") Написать в WhatsApp
			.title Перезвоните мне
			form(action="get")
				.inputs
					input(type="text" placeholder="Ваше имя*" required)
					input(type="text" placeholder="Ваш телефон*" required)
				.bottom
					input(type="submit" value="Оставить заявку").btn
