$color-black: #000000;
$color-white: #ffffff;
$color-blue: #0f2470;
$color-text: #3b3b3a;
$color-light-orange: #d6a47c;
$color-light: #ffe9c9;
$color-orange: #d6a47c;

$font-base: "Roboto", sans-serif;
$font-add: "Vida33Pro", sans-serif;